html{

	background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(255, 215, 0, 0.45), 
      rgba(255, 215, 0, 0.45)
    ),
    /* bottom, image */
    url('images/back.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.japanName{
	width: 750px;
}

.rapic{
	border: solid 5px gold;
	height: 450px;
	width: 450px;
	float: left;
}

.starpic{
	margin-top: 20px;
	height: 50px;
	width: 525px;
	padding: 7px;
	
}

.description{
	float: left;
	background-color: gold;
	padding: 7px;
	color: black;
	
}
h1{
	font-family:Impact, Charcoal, sans-serif;
	font-size: 90px;
	color: white;
	margin: 7px;
}

p{
	font-family:Verdana, Geneva, sans-serif;
	font-size:17px;
}

h3{
	font-family:Impact, Charcoal, sans-serif;
	font-size: 60px;
	color: white;
	margin: 7px;
	
}

a{
	color: white;
}